<!doctype html>
<html lang="en-US" class="about">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_meta.html", grunt.data.json) %>
  </head>

  <body>

  <%= t.include("partials/_nav.html", grunt.data.json) %>



    <section id="about">
      <h1>About</h1>
      <div class="text"><%=json.page.footer_bottom_text.value%></div>
    </section>

    <div id="profiles">

      <% json.about.forEach(function(about) { %>
      <div class="profile">
        <div class="profile-img"><img src="./assets/portraits/<%=about.image_slug%>.jpg" /></div>
        <div class="profile-info">
          <div class="profile-name"><%=about.name%></div>
          <div class="profile-bio"><%=about.bio%></div>
          <div class="profile-project"><b>Project: </b><%=about.project%></div>
          <% if(about.twitter){ %>
            <div class="profile-twitter"><b>Twitter: </b><a href="#" target="_blank">@<%=about.twitter%></a></div>
          <%}%>
          <% if(about.extras){ %>
            <div class="profile-twitter"><@<%=about.extras%></div>
          <%}%>
        </div>
      </div>
      <%})%>

      <div class="profes">
        <div class="names"><b>Instructors:</b> Richard Koci Hernandez, John Temple, Jeremy Rue and Lucio Villa.</div>
      </div>

    </div>
    

  <script src="about.js" async></script>  
	<%= t.include("partials/_footer.html", json.page) %>
	<%= t.include("partials/_analytics.html", grunt.data.json) %>

</body>
</html>