<!doctype html>
<html lang="en-US" class="viewport-medium">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_meta.html", grunt.data.json) %>
  </head>

  <body>

  <%= t.include("partials/_nav.html", grunt.data.json) %>


    <section id="topper">

      <div class="bg-img sticky">
        <img class="desktop" src="./assets/bg.jpg">
        <img class="mobile" src="./assets/top.jpg">
      </div>
      
      <div class="title">      
        <video playsinline autoplay muted>
          <source src="./assets/title.webm" type="video/webm">
        </video>
      </div>

      <div class='spacer short'></div>

      <div class='spacer' id="top-quote">
        <p><span class="curly">“</span>My son's now 15, but when he was around 4, we were passing by a big office building at night and there were a few lights on. And he said to me, 'why are the lights on, why don't they turn off the lights?' So I said 'no no, they're on because there's people working in there’...</p>
      </div>

      <div class='spacer' class="blur">
        <p>...And I thought about that a lot, because I thought about the kind of workers we don't see. We either choose to not see them, or they do the work when we can't see them. And those are the workers who are the most vulnerable.<span class="curly">”</span><br><span class="credit">&mdash; State Assemblywoman Lorena Gonzalez, D-San Diego</span></p>
      </div>

    </section>




    <section id="waterfall">

      <div class="unseen-item unseen-photogridwrap" id="first">
        <div class="unseen-item unseen-photogrid first-delay">

          <div class="unseen-item unseen-image medium m-col-0 m-row-2 col-3 row-0">
            <div class="unseen-item-image" >
              <img src="./assets/01.jpg">
            </div>
          </div>

          <div class="unseen-item unseen-image large m-col-0 m-row-4 col-0 row-2">
            <div class="unseen-item-image">
              <img alt="" src="./assets/02.jpg">  
            </div>
          </div>
          
          <div class="unseen-item unseen-image large m-col-2 m-row-3 col-5 row-1">
            <div class="unseen-item-image">
              <img src="./assets/03.jpg">
            </div>
          </div>
        </div>
      </div>

      <div id="second" class="unseen-item unseen-photogridwrap second-delay">
        <div class="unseen-item unseen-photogrid">
          <div class="unseen-item unseen-image medium m-col-2 m-row-3 col-0 row-1" >
            <div class="unseen-item-image">
              <img alt="" src="./assets/06.jpg">
              
            </div>
          </div>
          <div class="unseen-item unseen-image large m-col-1 m-row-0 col-5 row-0" >
            <div class="unseen-item-image">
              <img alt="" src="./assets/05.jpg">
            </div>
          </div>
          <div class="unseen-item unseen-image medium m-col-0 m-row-1 col-6 row-2" >
            <div class="unseen-item-image">
              <img alt="" src="./assets/16.jpg">
            </div>
          </div>
          <div class="unseen-item unseen-image large m-col-1 m-row-4 col-2 row-1">
            <div class="unseen-item-image">
              <img alt="" src="./assets/11.jpg">
            </div>
          </div>
          
        </div>
      </div>

      <div id="third" class="unseen-item unseen-photogridwrap third-delay">
        <div class="unseen-item unseen-photogrid">
          <div class="unseen-item unseen-image large m-col-3 m-row-3 col-0 row-0">
            <div class="unseen-item-image">
              <img src="./assets/08.jpg">
            </div>
          </div>
          <div class="unseen-item unseen-image medium m-col-0 m-row-1 col-4 row-0">
            <div class="unseen-item-image">
              <img src="./assets/17.jpg">
            </div>
          </div>
          <div class="unseen-item unseen-image medium m-col-0 m-row-5 col-3 row-1">
            <div class="unseen-item-image">
              <img src="./assets/10.jpg">
            </div>
          </div>
          <div class="unseen-item unseen-image large m-col-1 m-row-0 col-0 row-2">
            <div class="unseen-item-image">
              <img src="./assets/04.jpg">
            </div>
          </div>
          <div class="unseen-item unseen-image medium m-col-0 m-row-3 col-5 row-1">
            <div class="unseen-item-image">
              <img src="./assets/12.jpg">
            </div>
          </div>
          <div class="unseen-item unseen-image large m-col-2 m-row-2 col-5 row-2">
            <div class="unseen-item-image">
              <img src="./assets/13.jpg">
            </div>
          </div>
        </div>
      </div>

      <div id="fourth" class="unseen-item unseen-photogridwrap fourth-delay">
        <div class="unseen-item unseen-photogrid">
          <div class="unseen-item unseen-image medium m-col-0 m-row-1 col-6 row-2">
            <div class="unseen-item-image">
              <img src="./assets/14.jpg">
            </div>
          </div>
          <div class="unseen-item unseen-image medium m-col-3 m-row-3 col-0 row-1">
            <div class="unseen-item-image">
              <img src="./assets/15.jpg">
            </div>
          </div>
          <div class="unseen-item unseen-image medium m-col-0 m-row-5 col-3 row-0">
            <div class="unseen-item-image">
              <img src="./assets/07.jpg">
            </div>
          </div>
          <div class="unseen-item unseen-image large m-col-1 m-row-0 col-2 row-1">
            <div class="unseen-item-image">
              <img src="./assets/09.jpg">
            </div>
          </div>
        </div>
      </div>

  
    </section>

    <section id="text">
     
      <article>
        <p>Since the Gold Rush, California has starred in many of the nation’s most successful endeavors: our shiniest movies, bounteous crops, and cutting-edge technologies.</p>

        <p>The Golden State has a progressive tax system and environmental policy, the second-highest minimum wage in the nation, and politicians who openly celebrate diversity and immigration. If the state were a country, its economy would rank fifth largest in the world.</p>

        <p>But California’s towering growth has cast a long shadow.</p>

        <p>The state’s growing population has put a strain on infrastructure and public services. Protections for workers are slipping, worker safety organizations are chronically understaffed, and wage theft is rampant. In a state where income inequality has risen sharply over the past two decades, faster than in the nation as a whole, those left at the bottom have fallen further behind.</p>

        <p>“You don't see the farm worker bending over in the fields when you pass by, and you don't see the janitor alone up in the building, and you don't see the construction worker that's hammering in the ditch,” says State Assemblywoman Lorena Gonzalez.</p> 

        <p>“We either choose to not see them, or they do the work when we can't see them. Those are the workers who are the most vulnerable.”</p>

        <p>California’s unseen workers do jobs that help keep the state’s economy and services humming,  but rarely come into public consciousness. They build houses, clean offices, sort through recycling, and harvest crops. These workers are hidden in plain sight; they work under cover of darkness, even beyond the physical boundary of our shores.</p>

        <p>This project sheds light on the experience of those who labor in the shadows - and the limitations, even failure, of our legal promises to protect them on the job.</p>
      </article>
      <div id="projects"></div>
    </section>


    <section class="project">
      <div class="half-wrapper right">
        <div class="half-img">
          <video autoplay loop muted playsinline>
            <source src="./assets/second-class.mp4" type="video/mp4">
          </video>
        </div>
        <div class="placeholder">
          <div class="project-info">
            <h2>Second Class</h2>
            <div class="byline">By Alex Nieves</div>
            <div class="abstract">California’s almost 2 million undocumented workers face a disproportionately high risk of being killed or injured on the job despite state laws designed to protect them.</div>
          </div>
          <div class="launch"><a href="./second-class"><button>Launch Project</button></a></div>
        </div>
      </div>
    </section>


    <section class="project">
      <div class="half-wrapper">
        <div class="half-img">
          <img src="./assets/ontheline.jpg">
        </div>
        <div class="placeholder">
          <div class="project-info">
            <h2>On the Line</h2>
            <div class="byline">By Susie Neilson</div>
            <div class="abstract">California has some of the nation’s most progressive recycling policies and goals, but the industry’s workers face hazardous conditions—and global market forces are adding to their strain.</div>
          </div>
          <div class="launch"><a href="./on-the-line"><button>Launch Project</button></a></div>
        </div>
      </div>
    </section>


    <section class="project">
      <div class="half-wrapper right">
        <div class="half-img">
        <div class="half-img">
          <img src="./assets/db.jpg">
        </div>
        </div>
        <div class="placeholder">
          <div class="project-info">
            <h2>Dirty Business</h2>
            <div class="byline">By Francesca Fenzi & Yutao Chen</div>
            <div class="abstract">Workers in California’s waste industry labor far beyond our shores. Plastic recyclers in Minh Khai, Vietnam wrestle with the blessings and curses of an empire built on our trash.</div>
          </div>
          <div class="launch"><a href="./dirty-business"><button>Launch Project</button></a></div>
        </div>
      </div>
    </section>


    <section class="project">
      <div class="half-wrapper">
        <div class="half-img">
          <img src="./assets/stolen.jpg">
        </div>
        <div class="placeholder">
          <div class="project-info">
            <h2>Stolen</h2>
            <div class="byline">By Josh Slowiczek & Sarah El Safty</div>
            <div class="abstract">In California, wage theft is underreported, underenforced, and costs workers billions of dollars every year. But, you’re more likely to be prosecuted for stealing a sandwich.</div>
          </div>
          <div class="launch"><a href="./stolen"><button>Launch Project</button></a></div>
        </div>
      </div>
    </section>


    <section class="project" >
      <div class="half-wrapper right">
        <div class="half-img">
          <video autoplay loop muted playsinline>
            <source src="./assets/unevenground.mp4" type="video/mp4">
          </video>
        </div>
        <div class="placeholder">
          <div class="project-info">
            <h2>Uneven Ground</h2>
            <div class="byline">By Mallory Newman</div>
            <div class="abstract">Women make up just 3% of lucrative male dominated construction jobs – Gender based harassment and discrimination has kept their numbers virtually unchanged half a century after affirmative action.</div>
          </div>
          <div class="launch"><a href="./uneven-ground"><button>Launch Project</button></a></div>
        </div>
      </div>
    </section>
    

    <section class="project">
      <div class="half-wrapper">
        <div class="half-img">
           <img src="./assets/newpath.jpg">
        </div>
        <div class="placeholder">
          <div class="project-info">
            <h2>New Path</h2>
            <div class="byline">By Saemmool Lee & Yingshan Deng</div>
            <div class="abstract">More than 600,000 inmates are released from prison every year, 35,000 in California. Most are seeking a regular job that can keep a roof over their head - a challenge that’s not easy to overcome.</div>
          </div>
          <div class="launch"><a href="./new-path"><button>Launch Project</button></a></div>
        </div>
      </div>
    </section>


    <section class="project">
      <div class="half-wrapper right">
        <div class="half-img">
          <img src="./assets/pennies-per-hour.jpg">
        </div>
        <div class="placeholder">
          <div class="project-info">
            <h2>Pennies Per Hour</h2>
            <div class="byline">By Cecilia Lei</div>
            <div class="abstract">Most California state prisoners hold jobs that maintain prison facilities for as low as 8 cents an hour. The roles are cost-effective for the state, but critics say they don’t prepare inmates for life on the outside.</div>
          </div>
          <div class="launch"><a href="./pennies-per-hour"><button>Launch Project</button></a></div>
        </div>
      </div>
    </section>
    

    <section class="project">
      <div class="half-wrapper">
        <div class="half-img">
          <video autoplay loop muted playsinline>
            <source src="./assets/cannabis.mp4" type="video/mp4">
          </video>
        </div>
        <div class="placeholder">
          <div class="project-info">
            <h2>Smoke and Mirrors</h2>
            <div class="byline">By Anne Wernikoff and Simon Campbell</div>
            <div class="abstract">Cannabis legalization in California is a mess. Tax revenues are lower than expected, the illegal market is thriving and workers on the Central Coast are weighing the benefits and fears of working in a newly permitted industry.</div>
          </div>
          <div class="launch"><a href="./smoke-and-mirrors"><button>Launch Project</button></a></div>
        </div>
      </div>
    </section>



  <script src="app.js" async></script>  
  <%= t.include("partials/_footer.html", json.page) %>
  <%= t.include("partials/_analytics.html", grunt.data.json) %>

</body>
</html>